a {    
    cursor: pointer !important;
}

nav {
    background-color: #3F51B5;
    a {
        color: #ffffff;
        &:hover{
            color: #ffffff;
        }
    }
    .nav-link {
        color:#ffffff;
        &:hover{
            color:#ffffff;
            background-color: rgb(69, 87, 192);
        }
    }
}

.ml-auto {
    left: auto !important;
    right: 0px;
  }