<mat-toolbar color="primary">

  <button mat-button [routerLink]="['/']">Email Sucks</button>

  <button mat-button [routerLink]="['/']">Home</button>


  
    <button mat-button *ngIf="isAuthenticated()" [matMenuTriggerFor]="menu">Menu</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Edit Categories</button>
      <button mat-menu-item>Edit User</button>
      <button mat-menu-item *ngIf="isMobile" (click)="logoutUser()">Log Out</button>
      <button mat-menu-item>Version 0.01</button>
    </mat-menu>
 
  

  <span class="fill-remaining-space"></span>


  <span *ngIf="!isAuthenticated() && !isMobile">

    <button mat-button [routerLink]="[ '/login']">Login</button>

    <button mat-button [routerLink]="[ '/signup']">Signup</button>

  </span>


  <span *ngIf="!isAuthenticated() && isMobile">
    <button mat-button [matMenuTriggerFor]="connect">Connect</button>
    <mat-menu #connect="matMenu">
      <button mat-menu-item (click)="mobileConnect('login')">Login</button>

      <button mat-menu-item (click)="mobileConnect('signup')">Signup</button>
    </mat-menu>

  </span>



  <span *ngIf="isAuthenticated() && !isMobile">

    <button mat-button (click)="logoutUser()">Logout</button>

  </span>


</mat-toolbar>