<div class="container">
  <div class="row">

    <div class="col-sm-2 categories">

      <div class="list-group">
        <button *ngFor="let item of categories; let i = index" (click)="onCategorySelect(item)" href="#" class="list-group-item list-group-item-action">{{ item.category }}</button>
      </div>

    </div>
    <div *ngIf="selectedCategory != null" class="col-sm-4">
        <button *ngFor="let item of selectedCategory.topic; let i = index" (click)="onTopicSelect(item)" href="#" class="list-group-item list-group-item-action">{{ item.title }}</button>
    </div>
    <div *ngIf="selectedTopic != null" class="col-sm-6">
      <div class="row">
        <div class="col-xs-12">
          <h3>{{ selectedTopic.title }}</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          {{ selectedTopic.description }}
        </div>
      </div>

      <!-- {{selectedTopic.description}} -->
    </div>

  </div>
</div>