<span *ngIf="initLoad">
  <img src="../../assets/loading.svg" style="width:30px">
</span>

<!-- <span [ngIf]="!authService.authenticated">
  Please Login
</span> -->


<div class="container1"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">

  <div class="item item-1" fxFlex="30%" *ngIf="!initLoad">

    <mat-nav-list>
      <span *ngFor="let item of categoriesNew; let i = index">
        <mat-list-item (click)="onCategorySelect(item)">
          {{ item.category }}</mat-list-item>
        <mat-divider></mat-divider>
      </span>

      <ng-template [ngIf]="authService.authenticated">
        <mat-list-item (click)="addCategory()">
          <span *ngIf="!addCategoryBool && !lodingCategory"><img src="../../assets/tag-cat.svg"> Add Category</span>
          <span *ngIf="addCategoryBool && !lodingCategory">
            <div class="input-and-button">
              <img class="button-item" src="../../assets/tag-cat.svg">
              <input #cat (focusout)="addCategoryBool = false" (keyup.enter)="addCategoryItem(cat.value)" type="text"
                class="form-control input-item">
            </div>
          </span>
          <span *ngIf="lodingCategory">
            <img src="../../assets/loading.svg" style="width:30px">
          </span>
        </mat-list-item>

      </ng-template>

    </mat-nav-list>
  </div>
  <div class="item item-2" fxFlex="70%">
    <router-outlet></router-outlet>
  </div>
 
</div>