
<span *ngIf="initLoad">
  <img src="../../assets/loading.svg" style="width:30px">
</span>

<div class="row" *ngIf="!initLoad">

  <div class="col-sm-3 categories">

    <div class="list-group">
      <button *ngFor="let item of categoriesNew; let i = index" (click)="onCategorySelect(item)" href="#"
        class="list-group-item list-group-item-action">{{ item.category }}</button>

      <ng-template [ngIf]="authService.authenticated">
        <div (click)="addCategory()" class="add-item list-group-item list-group-item-action">
          <span *ngIf="!addCategoryBool && !lodingCategory"><img src="../../assets/tag-cat.svg"> Add Category</span>
          <span *ngIf="addCategoryBool && !lodingCategory">
            <div class="input-and-button">
              <img class="button-item" src="../../assets/tag-cat.svg">
              <input #cat (keyup.enter)="addCategoryItem(cat.value)" type="text" class="form-control input-item">
            </div>
          </span>
          <span *ngIf="lodingCategory">
            <img src="../../assets/loading.svg" style="width:30px">
          </span>

        </div>
      </ng-template>
    </div>

  </div>
  <div *ngIf="selectedCategory != null" class="col-sm-3">
    <button *ngFor="let item of selectedCategory.entries; let i = index" (click)="onTopicSelect(item)" href="#"
      class="list-group-item list-group-item-action">{{ item.title }}</button>



      <ng-template [ngIf]="authService.authenticated">
          <div (click)="addEntry()" class="add-item list-group-item list-group-item-action">
  
            <span *ngIf="!addEntryBool && !loadingEntry"><img src="../../assets/tag-cat.svg"> Add Category</span>
            <span *ngIf="addEntryBool && !loadingEntry">
              <div class="input-and-button">
                <img class="button-item" src="../../assets/tag-cat.svg">
                <input #entry (keyup.enter)="addEntryItem(entry.value)" type="text" class="form-control input-item">
              </div>
            </span>
            <span *ngIf="loadingEntry">
              <img src="../../assets/loading.svg" style="width:30px">
            </span>
  
          </div>
        </ng-template>




  </div>
  <div *ngIf="selectedTopic != null" class="col-sm-6">
    <div class="row">
      <div class="col-xs-12">
        <h3>{{ selectedTopic.title }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        {{ selectedTopic.description }}
      </div>
    </div>

    <!-- {{selectedTopic.description}} -->
  </div>

</div>