
<div>
  <div class="item item-3" fxFlex="30%" >
    <mat-nav-list>
      <span *ngFor="let item of entriesList; let i = index">
        <mat-list-item (click)="onTopicSelect(item)">
          {{ item.title }}</mat-list-item>
        <mat-divider></mat-divider>
      </span>


      <ng-template [ngIf]="authService.authenticated">

        <mat-list-item (click)="addEntry()">

          <span *ngIf="!addEntryBool && !loadingEntry"><img src="../../assets/tag-cat.svg"> Add Entry</span>
          <span *ngIf="addEntryBool && !loadingEntry">
            <div class="input-and-button">
              <img class="button-item" src="../../assets/tag-cat.svg">
              <input #entry (focusout)="addEntryBool = false" (keyup.enter)="addEntryItem(entry.value)" type="text"
                class="form-control input-item">
            </div>
          </span>
          <span *ngIf="loadingEntry">
            <img src="../../assets/loading.svg" style="width:30px">
          </span>

        </mat-list-item>

      </ng-template>
    </mat-nav-list>
  </div>

  <div class="item item-3" fxFlex="70%" >
    
        <router-outlet></router-outlet>
    
  </div>
</div>