<div class="container-item">

    <form *ngIf="entry" [formGroup]="entryUpdateForm" (ngSubmit)="onSubmit()">

        <mat-form-field class="container-full-width-items" appearance="standard">
          <input matInput id="title" formControlName="title">
        </mat-form-field>
      
        <mat-form-field appearance="outline" class="container-full-width-items">
          <textarea matInput rows="6" placeholder="Email" id="content" formControlName="content"
            value="{{ entry.content }}"></textarea>
        </mat-form-field>
      
      
        <div>
          <button mat-stroked-button color="primary" [disabled]="!entryUpdateForm.valid" type="submit">Save</button>
          <button mat-stroked-button color="primary" type="button"
            (click)="deleteEntry()">Delete</button>
          <button mat-stroked-button color="primary" [disabled]="!entryUpdateForm.valid" type="button"
            (click)="cancelEntryChanges()">Cancel</button>
        </div>
      
      </form>

</div>